<footer class="h-full w-full ">


    <!-- contacto info -->
    <div class="lg:w-8 m-4 sm:w-full md:w-full p-2" style="border-left: solid 1px #D1DEFF;">
        <div class="flex flex-col items-center justify-center text-center p-2">
            <h1 class="text-2xl font-bold">Contacto</h1>
            <p class="text-sm">Teléfono: 123456789</p>
            <p class="text-sm">Email: pollsmail&#64;gmail.com</p>
            <p class="text-sm">Dirección: Alan Turing 1</p>
        </div> 
    </div> 
</footer>